@{
    Layout = null!;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header z efektem pisania na klawiaturze</title>
    <link rel="stylesheet" href="~/css/Home.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <img src="https://i.ibb.co/tpkYydz/d8563a81-a8d0-4391-a12e-1bcdcc261659.jpg" alt="Logo portalu do szukania pracy" class="logo-header">
        <input type="color" class="color-picker">
        <nav class="nav">
            <ul>
                <li><a href="#">Strona Główna</a></li>
                <li><a href="#">Oferty Pracy</a></li>
                <li><a href="#">Dla Pracodawcy</a></li>
            </ul>
        </nav>
    </header>
    <h1 id="typing-header" class="typing-header"> </h1>
    <script>
        
        // Tekst do wyświetlenia w nagłówku
        const textToType = "Poznaj najnowsze oferty pracy";

        const headerElement = document.getElementById('typing-header');

        function typeWriter(text, i) {
            if (i < text.length) {
                // Dodaj pojedynczy znak do nagłówka
                headerElement.innerHTML += text.charAt(i);

                setTimeout(function () {
                    typeWriter(text, i + 1)
                }, 50);
            } else {
                // Po zakończeniu pisania, czekaj chwilę, a następnie wyczyść nagłówek i rozpocznij pisanie od początku
                setTimeout(function () {
                    headerElement.innerHTML = '';
                    typeWriter(text, 0);
                }, 2000);
            }
        }

        // Uruchomienie funkcji symulującej pisanie na ekranie
        typeWriter(textToType, 0);
    </script>
</body>
</html>
   
