
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header {
    background-color: #1B283B;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-header {
    width: 200px;
}
.nav {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
}

nav ul li {
    margin-right: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

    nav ul li a {
        text-decoration: none;
        color: #fff;
        display: inline-block;
        padding: 10px 20px;
        border-radius: 25px;
        transition: background-color 0.5s ease;
    }

        nav ul li a:hover {
            background-color: #2D3E50;
        }

h1 {
    font-size: 2rem;
}

section {
    padding: 50px;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.offer {
    background-color: #E8E8E8;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

    .offer:hover {
        transform: translateY(-5px);
    }

    .offer h3 {
        color: #1B283B;
    }

form label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="file"],
button[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #1B283B;
    border-radius: 5px;
    transition: box-shadow 0.3s ease;
}

    input[type="text"]:focus,
    input[type="email"]:focus,
    input[type="file"]:focus {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

button[type="submit"] {
    background-color: #1B283B;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

    button[type="submit"]:hover {
        background-color: #0F1923;
    }

#searchInput {
    width: 300px;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #1B283B;
    border-radius: 5px;
}

#filters {
    padding: 20px;
    background-color: #f8f9fa; 
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    margin-bottom: 20px; 
}

    #filters h2 {
        margin-bottom: 20px; 
        color: #333; 
        font-size: 24px; 
    }

    #filters label {
        display: block;
        margin-bottom: 10px; 
        font-size: 16px; 
        color: #666; 
    }

#filterType {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px; 
    border: 1px solid #ced4da; 
    border-radius: 8px; 
    font-size: 16px;
}


.offer {
    background-color: #ffffff; 
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease;
}

    .offer h3 {
        color: #1B283B;
        font-size: 20px; 
        margin-bottom: 10px; 
    }

    .offer p {
        color: #555;
        font-size: 16px; 
    }

    .offer:hover {
        transform: translateY(-5px); 
    }
footer {
    background-color: #1B283B;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
}